pillow==12.3.0
pytz==2026.2
-e git+ssh://git@github.com/romanm-qa/Merekha-hillel-homeworks.git@6410dcf40225b68cb16e5bf20a98ab259d1202be#egg=randominfo&subdirectory=lesson_16_modules_and_packages/randominfo-master
